@model CarViewModel

<h2>Informasjon om @Model.car.LicensePlate</h2>

<p>Dekk på lager: @Model.car.TireCount</p>
<p>Merke: @Model.car.Brand</p>
<p>Modell: @Model.car.Model</p>
<p>Beskrivelse: @Model.car.Description</p>
<p>@Model.car.LicensePlate  er lagt inn av @Model.companyName</p>

